# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log

# Docker files
db_data/
docker-compose.override.yml

# OS-specific files
.DS_Store
Thumbs.db

# Build directories
frontend/build/
backend/build/
dist/

# Temporary files
*.tmp
*.temp

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace