/* src/components/MainPage.css */

@import '../index.css'; /* Use global styles and variables */

/* Main Page Styles */
.main-page {
  background-color: var(--background);
  color: var(--neutral-white);
  min-height: 100vh;
  padding-top: 60px;
}

.main-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

/* Scrollable Coffee Section */
.scrollable-container {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  padding: 1rem 0;
  margin-top: 2rem;
  background-color: var(--primary-light); /* Updated color */
  align-items: center;
}

.scrollable-container::-webkit-scrollbar {
  height: 8px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark); /* Updated color */
  border-radius: 10px;
}

/* Coffee Card Styles */
.coffee-option {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 130px;
  height: 100px;
  background-color: var(--primary-dark); /* Updated color */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid var(--primary-dark); /* Updated color */
  padding: 5px;
}

.coffee-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.coffee-label {
  color: var(--primary-dark);
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
