/* ProductDetail.css */

.product-detail-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 80px;
  max-width: 1400px;
  margin: 0 auto;
  gap: 40px;
}

.image-carousel {
  flex: 1 1 400px;
  position: relative;
}

.main-image {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.main-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.0);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  z-index: 1;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #717171;
}

.product-details {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Product Name */
.product-name {
  font-size: 2rem;
  margin-bottom: 10px;
}

.product-origin,
.product-roast,
.product-bean,
.product-flavor,
.product-description {
  font-size: 1rem;
  color: #555;
}

.variant-selection,
.quantity-selection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.variant-selection select,
.quantity-selection input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 100px;
}

.quantity-selection .stock {
  margin-left: 10px;
  font-size: 0.9rem;
  color: #888;
}

.price-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--neutral-black);
}

.add-to-cart-button {
  padding: 12px 20px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #ff5722;
}

.add-to-cart-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .product-detail-container {
    flex-direction: column;
    align-items: center;
  }

  .product-details {
    width: 100%;
  }
}
