/* src/components/ProductsPage.css */

.products-page {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 20px;
}

.coffee-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.coffee-card {
  background-color: #1e1005;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  width: 300px; /* Fixed width to maintain size */
}

.image-placeholder {
  width: 100%;
  height: 150px;
  background-color: #ccc;
  margin-bottom: 10px;
}

.cart-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}

.add-to-cart-button {
  padding: 0.3rem 1rem;
  background-color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  font-family: 'Arial', sans-serif;
}

.filter-buttons {
  margin: 10px 0;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

/* Filter Panel Styles */
.filter-panel {
  position: fixed;
  top: 0;
  left: 0; /* Positioned on the left side */
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3); /* Shadow on the right side */
  padding: 20px;
  z-index: 1000;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Close Icon Styling */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.apply-filters-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
}

.clear-filters-button {
  padding: 8px 16px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1; 
}


.breadcrumb {
  margin: 20px 0;
  font-size: 1rem;
  color: #723d24;
}

.breadcrumb a {
  color: #c59565;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}


.breadcrumb span {
  color: #dac9ad;

}
