set-prices-container {
    padding: 20px;
    background-color: #f9f9f9;
}
.go-back-button, .save-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
}
.go-back-button:hover, .save-button:hover {
    background-color: #45a049;
}
h1, p {
    margin-bottom: 20px;
}
.product-table-container {
    overflow-x: auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
input {
    width: 100px;
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}