

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main-content {
  margin-top: 0;
  background-color: black;
  padding-top: 70px; /* Adjust this value based on the actual height of your navbar */
  /* Alternatively, you can set a background image */
  /* background: url('path/to/your/background-image.jpg') no-repeat center center fixed; */
  /* background-size: cover; */
  min-height: 5vh; /* Ensure the main content area takes up the full height of the viewport */
}

/* Ensure that the main-content class does not center its children */
.main-content > * {
  margin: 0;
  padding: 0;
  text-align: left; /* Ensure text is left-aligned */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
