@import url('https://fonts.googleapis.com/css2?family=Gupter:wght@400;700&display=swap');

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global CSS Variables */
:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --font-body: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-code: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Utility Classes */
.main-content {
  padding-top: 66px; /*Match navbar height */
  min-height: 10vh; /* Full viewport height */
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 0;
  margin: 0;
  text-align: left; /* Ensure text is left-aligned */
}

.main-content h2 {
  font-size: 2rem;
  color: var(--secondary-color);
}

.main-content p {
  font-size: 1.2rem;
  color: var(--secondary-color);
}



code {
  font-family: var(--font-code);
}

/* Responsive Font Sizes */
html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
